<ion-view title="Help">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <h4>main page</h4>
        <form class="list"></form>
        <form class="list"></form>
        <div class="spacer" style="width: 283px; height: 319px;"></div>
        <form class="list"></form>
        <form class="list"></form>
        <form id="reservation">
              <label for="minbeds">Minimum number of beds</label>
              <select name="minbeds" id="minbeds">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
              <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <a ui-sref="myAccount.help2" class="button button-stable button-block  button-full">3</a>
        </div>
    </ion-content>
</ion-view>