<ion-view title="Help">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <h4>main2 page</h4>
        <form class="list"></form>
        <form class="list"></form>
        <div class="spacer" style="width: 283px; height: 319px;"></div>
        <form class="list"></form>
        <form class="list"></form>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block  button-full">3</button>
        </div>
    </ion-content>
</ion-view>