<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header home-background">
        <form name="login_form" id="login_form" class="list" >
            <div class="spacer-home"></div>
            <div class="align-center">
                <img src="img/beptXqCNROWr9dMM64Uz_blue-green-logo.png" >
            </div>
            <div class="row-center padding login-fields-wrapper">
                <!-- email Text box -->
                <label class="item item-input">
                    <input type="email" ng-model="user.email" required name="email" placeholder="USERNAME">
                </label>
                <div class="form-error" ng-show="login_form.email.$invalid && !login_form.email.$pristine" >Enter a valid email.</div>
                <!-- END Email Text Box -->
                
                <label class="item item-input">
                    <input type="password" required ng-model="user.password" name="password" placeholder="PASSWORD">
                </label>
                <label class="remember">
               <input type="checkbox" ng-model="user.rememberme">
               <span>Remember Me</span>
                 </label>
               
            </div>
        </form>
        <!--ui-sref="myAccount.help" -->
        <a ng-disabled="login_form.$invalid" class="button  button-small green-button" ng-click="loginUser();">SIGN IN</a>
        <div class="spacer-login-bottom"></div>
        <div class="create-account">
            <p>Don't have an account yet?</p>
        </div>
        <a ui-sref="registration" class="button register-button button-block button-small" >REGISTER</a>
    </ion-content>
</ion-view>