<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="bar-stable">
            <div class="title">My Account</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-right has-header">
            <ion-list>
                <ion-item ui-sref="myAccount.help" menu-close="">Maps</ion-item>
                <ion-item ui-sref="myAccount.help2" menu-close="">My Post</ion-item>
            </ion-list>
            <div class="list card">
                <div class="item item-divider">Account Information</div>
                <div class="item item-body">
                    <button class="button button-balanced button-block ">Update</button>
                    <h5>UPDATE PASSWORD</h5>
                    <form class="list">
                        <label class="item item-input">
                            <input type="password" placeholder="Current password">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="New 6-20 alphanumeric characters password">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Retype password">
                        </label>
                        <h5>EMAIL</h5>
                        <label class="item item-input">
                            <span class="input-label">name@domain.com</span>
                            <input type="email" placeholder="">
                        </label>
                        <h5>MOBILE PHONE</h5>
                        <label class="item item-input">
                            <span class="input-label">+1</span>
                            <input type="tel" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">(808) 123-4567</span>
                            <input type="tel" placeholder="">
                        </label>
                        <div class="list card">
                            <div class="item item-divider">PROFILE</div>
                            <div class="item item-body">
                                <h5>YOUR NAME</h5>
                                <form class="list">
                                    <label class="item item-input">
                                        <span class="input-label">First name</span>
                                        <input type="text" placeholder="">
                                    </label>
                                    <label class="item item-input">
                                        <span class="input-label">Last name</span>
                                        <input type="text" placeholder="">
                                    </label>
                                </form>
                                <div class="icon-wrapper-registration">
                                    <i class="icon ion-image icon-wrapper-registration"></i>
                                </div>
                                <button class="button button-positive button-block button-small">TAKE YOUR PHOTO</button>
                                <button class="button button-positive button-block button-small">CHOOSE FROM GALLERY</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Locations</div>
                <div class="item item-body">
                    <button class="button button-balanced button-block ">Update</button>
                    <div class="list card">
                        <div class="item item-divider">Address Title</div>
                        <div class="item item-body">
                            <form class="list">
                                <ion-checkbox>Default</ion-checkbox>
                                <h5>ADDRESS TITLE</h5>
                                <label class="item item-input">
                                    <input type="text" placeholder="Address Name">
                                </label>
                                <h5>ADDRESS LINE 1</h5>
                                <label class="item item-input">
                                    <input type="text" placeholder="Number and Street">
                                </label>
                                <h5>ADDRESS LINE 2</h5>
                                <label class="item item-input">
                                    <input type="text" placeholder="">
                                </label>
                                <h5>CITY</h5>
                                <label class="item item-input">
                                    <input type="text" placeholder="">
                                </label>
                                <h5>STATE</h5>
                                <label class="item item-input">
                                    <input type="text" placeholder="">
                                </label>
                                <h5>ZIP CODE</h5>
                                <label class="item item-input">
                                    <input type="text" placeholder="">
                                </label>
                                <h5>COUNTRY</h5>
                                <label class="item item-input">
                                    <input type="text" placeholder="">
                                </label>
                            </form>
                        </div>
                    </div>
                    <button class="button button-dark button-block button-small icon-left ion-android-add-circle">ADD ADDRESS</button>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Payment Information</div>
                <div class="item item-body">
                    <button class="button button-balanced button-block ">Update</button>
                    <div class="list card">
                        <div class="item item-divider">Card Title</div>
                        <div class="item item-body">
                            <form class="list">
                                <ion-checkbox>Default</ion-checkbox>
                                <div>
                                    <p>Type:
                                        <strong>Visa</strong>
                                    </p>

                                    <p>Name:
                                        <strong>Name on card</strong>
                                        Last 4:
                                        <strong>x-9999</strong>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button class="button button-dark button-block button-small icon-left ion-android-add-circle">ADD CARD</button>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Ratings/Feedback</div>
                <div class="item item-body"></div>
            </div>
            <div class="list card">
                <div class="item item-divider">Legal</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item>Terms and Conditions</ion-item>
                        <ion-item>Privacy</ion-item>
                        <ion-item>Guarantee</ion-item>
                    </ion-list>
                </div>
            </div>
            <ion-list></ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>