<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="bar-stable">
            <div class="title">My Account</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-right has-header">
            <ion-list>
                <ion-item ui-sref="myAccount.help2" menu-close="">Logout</ion-item>
                <ion-item ui-sref="myAccount.help2" menu-close="">My Profile</ion-item>
                <ion-item ui-sref="myAccount.help2" menu-close="">Change Password</ion-item>
                <ion-item ui-sref="myAccount.help" menu-close="">Settings</ion-item>
            </ion-list>
          <ion-list></ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>