<ion-view title="Registration">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h4>PAYMENT INFORMATION</h4>
            <h5>CREDIT CARD NUMBER</h5>
            <label class="item item-input">
                <input type="text" placeholder="">
            </label>
            <h5>NAME</h5>
            <label class="item item-input">
                <input type="text" placeholder="as it appears on card">
            </label>
            <h5>EXP DATE</h5>
            <label class="item item-select">
                <span class="input-label">Month</span>
                <select>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Year</span>
                <select>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                </select>
            </label>
            <h5>SECURITY CODE</h5>
            <label class="item item-input">
                <input type="text" placeholder="3 or 4 digit code">
            </label>
            <a ui-sref=" " class="button button-positive button-block" ng-click="showConfirm()">NEXT</a>
        </form>
        <form class="list"></form>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>