<ion-view title="Registration">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div>
            <p>A SMS with a code has been sent to the number below</p>
        </div>
        <div>
            <p>000 000 0088</p>
        </div>
        <div>
            <p>To Complete your verification, Please enter your 6-digit activiation code.</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-positive button-outline ">Resend</button>
        <form class="list"></form>
        <form class="list">
            <div class="spacer" style="width: 283px; height: 159px;"></div>
            <a ui-sref="registration3" class="button button-positive button-block ">NEXT</a>
        </form>
    </ion-content>
</ion-view>