<ion-view title="Help">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="align-center register item">
               Registration
            </div>
        <h4 class="item-title">ACCOUNT INFORMATION</h4>
        <h5>Email <span class="required">*</span></h5>
        <form class="list" name="reg1_form" id="reg1_form">
            
                    <!-- Text box for email -->
                    <label class="item item-input">
                        <input type="email" ng-model="reg.email" name="email" id="email" required  placeholder="youremail@domain.com">
                    </label>
                    <div class="form-error" ng-show="reg1_form.email.$dirty && reg1_form.email.$error.required" >Please enter email address.</div>
                    <div class="form-error" ng-show="reg1_form.email.$dirty && reg1_form.email.$error.email" >Please enter valid email address.</div>
                    
                    <!-- End of code for email -->
            
                    <h5>Mobile Phone <span class="required">*</span></h5>
                    
                    <label class="item item-input">
                        <input type="number" pattern=".{10,16}" ng-model="reg.mobile" name="mobile" id="mobile" required placeholder="phone number">
                    </label>

                    <div class="form-error"  ng-show="reg1_form.mobile.$dirty && reg1_form.mobile.$error.required" >Please enter phone number.</div>
                    <div class="form-error" ng-show="reg1_form.mobile.$dirty && reg1_form.mobile.$error.pattern" >Phone number should be between 10 to 16 Digit.</div>
            
                    <!-- Password -->
                    <h5>Password <span class="required">*</span></h5>
                    <label class="item item-input">
                        <input type="password" required ng-model="reg.password" name="password" id="password" pattern=".{6,20}" placeholder="6 -20 alphanumeric characters">
                    </label>
                    <div class="form-error" ng-show="reg1_form.password.$dirty && reg1_form.password.$error.required" >Please enter password.</div>
                    <div class="form-error" ng-show="reg1_form.password.$dirty && reg1_form.password.$error.pattern" >Password should be between 6 to 20.</div>
          
                    <h5>NAME <span class="required">*</span></h5>
                    <label class="item item-input item-left">
                      <input type="text" ng-model="reg.first_name" name="first_name" id="first_name" placeholder="First name">
                    </label>
                    <div class="form-error" ng-show="reg1_form.first_name.$dirty && reg1_form.first_name.$error.required" >Please fill the firstname.</div>
                   
                    <!-- Last Name -->
                    <label class="item item-input item-right">
                        <input type="text" ng-model="reg.last_name" name="last_name" id="last_name" placeholder="Last name">
                    </label>
                    <div class="clear"</div>
                      
                    <div class="icon-wrapper-registration" >
                            <i class="icon ion-image" ></i>
                     </div>
                    
                    <button class="button button-positive button-block button-small">TAKE PHOTO</button>
                    <button class="button button-positive button-block button-small">CHOOSE FROM GALLERY</button>
               
            <a class="button button-positive button-block" ng-disabled="reg1_form.$invalid"  ng-click="showConfirm()">NEXT</a>
        </form>
    </ion-content>
</ion-view>