<ion-view title="Registration">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div>
            <p>A SMS with a code has been sent to the number below</p>
        </div>
        <div>
            <p>000 000 0088</p>
        </div>
        <div>
            <p>To Complete your verification, Please enter your 6-digit activiation code.</p>
        </div>
        <form class="list" name="reg2_form" id="reg2_form">
        <div class="list">
            <label class="item item-input">
                <input type="text" name="otp_code" id="otp_code" ng-model="reg2.otp_code" value="" required placeholder="OTP">
            </label>
            <div class="form-error" ng-show="reg2_form.otp_code.$dirty && reg2_form.otp_code.$error.required" >Please enter OTP.</div>
        </div>
        <button class="button button-positive button-outline" ng-click="resendCode();">Resend</button>
            <div class="spacer-reg-2"></div>
            <!-- ui-sref="registration3"-->
            <a ng-disabled="reg2_form.$invalid" ng-click="checkCode();" class="button button-positive button-block ">NEXT</a>
        </form>
    </ion-content>
</ion-view>